.board {
  margin: 4px;
}

.board-renderer {
  margin: 8px;
}

.cell {
  width: 32px;
  height: 32px;
  border: 1px solid darkgray;
  margin: 1px;
}

.cell:hover {
  border-color: black;
}

.cell.alive {
  background-color: darkgray;
}

.cell.dead {
  background-color: white;
}

.cell.alive:hover, .cell.dead:hover {
  background-color: cornflowerblue;
}

.centered {
  margin: 0 auto;
  width: 50%;
}

.board-control {
  margin: 0 auto;
  width: 50%;
}

.board-control-group {
  padding: 8px;
}

.board-renderer {
  margin: 0 auto;
  width: 50%;
}

.input-group {
  margin: 2px;
}